body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #121212;
}



.logo-container img {
    max-width: 300px; 
    height: auto;
}

header {
    background: #000000; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px; 
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #40c1dd;
    text-decoration: none;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: left;
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.footer-column {
    margin-bottom: 20px;
}

.footer-column h3,
.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p,
.footer-column a {
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-container {
    display: flex;
    flex-direction: column;
}

.footer-column {
    flex: 1 0 auto; /* This will allow each .footer-column to grow and take up available space */
}
#contactos h3{
    text-align: center;
}
#redes{
    text-align: center;
}
#legal{
    text-align: center;
}
    .footer-column .contactos {
        order: 1;
    }
    .footer-column .redes {
        order: 2;
    }
    .footer-column .legal {
        order: 3;
    }
    
    .logo-container img{
        max-width: 150px;
        
    }
    
}









#contenedor-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    max-width: 100%;
    box-sizing: border-box;
}

.titulo {
    margin-bottom: 20px;
    text-align: center;
}

.fila-de-enlaces {
    display: flex;
    justify-content: flex-start; /* Centra las columnas de enlaces */
    gap: 30px;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; /* Ajusta el ancho de cada columna para dejar espacio entre ellas */
    box-sizing: border-box;
    justify-content: flex-start; /* Alinea los enlaces a la izquierda */
}

.columna a {
    text-decoration: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    padding: 10px;
    box-sizing: border-box;
}













#btnCerrarServicios {
    position: absolute;
    top: 5px; /* Ajustado para centrarlo verticalmente */
    right: 5px; /* Ajustado para centrarlo horizontalmente */
    background: transparent;
    border: none;
    font-size: 16px; /* Reducido para adaptarse al tamaño más pequeño */
    cursor: pointer;
}


/* Oculta el menú principal por defecto */
.main-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajusta esto según el tamaño de tu header */
    right: 0;
    background-color: #333;
    width: 200px; /* Ajusta el ancho según tus necesidades */
}

.menu-btn {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
    color: white;
}

@media (min-width: 768px) { /* Ajusta este valor según el punto de interrupción que desees */
   .main-nav {
        display: flex;
        position: static;
        top: auto;
        right: auto;
        width: auto;
        flex-direction: row;
        background-color: transparent;
    }

   .menu-btn {
        display: none;
    }
}











#contenedor-servicioss {
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    max-width: 100%; /* Asegura que no exceda el ancho de la ventana */
    box-sizing: border-box; /* Incluye padding y border en el cálculo de ancho */
    width: 100%; /* Especifica explícitamente que ocupe todo el ancho disponible */
}





.menu-principal {
    display: none; /* Ocultar inicialmente */
    position: fixed; /* Mantener fijo en la ventana */
    top: 0; /* Desde el borde superior */
    left: 0; /* Desde el borde izquierdo */
    right: 0; /* Hasta el borde derecho */
    bottom: 0; /* Hasta el borde inferior */
    background-color: #000000;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    min-height: 300px; /* Altura mínima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%; 
    font-size: 120%;
}



.menu-principal ul {
    list-style-type: none;
    padding: 0;
}

.menu-principal ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
   
    
}

#contenedor-servicioss a {
    color: black; /* Cambia el color del texto a negro */
    font-size: 70%;
}


#flecha {
    float: right;
    font-size: 50%;
    margin-top: 2%;
    
}














.linea-blanca {
    border-top: 1px solid white; 
    margin-left: 20px;
    margin-right: 20px;
}


.cliente-contenedor {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    gap: 10px; 
}

.cliente-contenedor img {
    max-width: 20%; 
    height: auto;
    object-fit: contain; 
    box-sizing: border-box; 
}

h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    
}


@media (max-width: 768px) {
    .cliente-contenedor img {
           max-width: 30%; 
           margin-bottom: 5px; 
       }
       h1{
           color: white;
           text-align: center;
           font-size: 100%;
           margin-top: 0; /* Elimina o reduce el margen superior */
       }
      .carousel-item {
           margin-bottom: 0; /* Elimina el margen inferior del carrusel */
       }

       .linea-blanca {
        border-top: 1px solid white; 
        margin-left: 20px;
        margin-right: 20px;
    }
    
   }
   






.carousel-item .img-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
}

.carousel-item .img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to right, rgba(21, 21, 21, 0.8), rgba(18, 18, 18,0), rgba(18, 18, 18,0.8)), 
        linear-gradient(to bottom, rgba(0,0,0,0), rgba(18, 18, 18, 0), rgb(18, 18, 18));
    pointer-events: none;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#miCarrusel {
    position: relative;
}
.carousel-caption {
    background-color: rgba(19, 81, 94, 0.5); /* Dark blue with 50% opacity */
}

@media (max-width: 768px) {
    .carousel-item .img-wrapper {
        width: 100%;
        height: 200px; /* Cambia la altura automática para adaptarse mejor a diferentes tamaños de pantalla */
    }

    .carousel-caption {
        font-size: 14px; /* Reduce el tamaño de la fuente para pantallas pequeñas */
    }
    .carousel-caption {
        background-color: rgba(19, 81, 94, 0.5); /* Dark blue with 50% opacity */
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 10px;
    }
   
}

.content-main {
    max-height: 100vh; /* Ocupa todo el espacio disponible */
    overflow-y: auto; /* Habilita el desplazamiento si el contenido es muy largo */
}
main {
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

main::-webkit-scrollbar {
    display: none;
}




.cta-section {
    text-align: center;
    padding: 20px;
    background-color: #13515E; 
    color: white; /* White text */
    margin: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    color: #13515E; /* Text color of your brand */
    background-color: white; /* White background */
    text-decoration: none;
    border: 2px solid white; /* White border */
    border-radius: 5px;
    transition: transform 0.3s ease; /* Smooth transition for transform */
    outline: none;
}

.cta-button:hover,
.cta-button:focus { /* Applies the styles on hover and focus */
    transform: scale(1.1); /* Makes the button grow */
}

.terms{
    margin-top: 5px;
    color: white;
}

.frase h1{
    font-size: 30px;
}
.frase h3{
    color: white;
    text-align: right;
    margin-right: 20px;
}


@media (max-width: 768px) {
    .cta-section {
        padding: 10px;
        margin: 10px;
    }

    .cta-button {
        padding: 8px 16px; /* Smaller padding on mobile */
    }

    
    .cta-section h1{
        font-size: 150%;
    }
    .frase h1{
        font-size: 100%;
    }
    .frase h3 {
        font-size: 10px;
       
    }
    .terms{
        margin-top: 5px;
        font-size: 60%;
        color: white;
    }
}
